<div class="md:max-w-lg mx-auto rounded-sm">
    <!-- {{this.addForm.value | json}} -->
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data.type == 'NEW'">เพิ่มรายชื่อผู้ใช้งานระบบ</h1>
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data.type !== 'NEW'">แก้ไขข้อมูลผู้ใช้งานระบบ</h1>
    <div mat-dialog-content>
        <form [formGroup]="addForm">
            <div class="-mx-3 md:flex mb-3">
                <div class="md:w-full px-3">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>ชื่อ - นามสกุล</mat-label>
                        <input matInput [placeholder]="'ชื่อ - นามสกุล'" [formControlName]="'name'">
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-3">
                <div class="md:w-full px-3">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>เบอร์ติดต่อ</mat-label>
                        <input matInput [placeholder]="'เบอร์ติดต่อ'" [formControlName]="'phone'">
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-3">
                <div class="md:w-full px-3">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>อีเมล</mat-label>
                        <input matInput [placeholder]="'email'" [formControlName]="'email'">
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-3">
                <div class="md:w-full px-3">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>username</mat-label>
                        <input matInput [placeholder]="'username'" [formControlName]="'username'">
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-3">
                <div class="md:w-full px-3">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>Password</mat-label>
                        <input matInput [placeholder]="'Password'" [formControlName]="'password'">
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-4 mt-4" *ngIf="this.data.type == 'NEW'">
                <label class="block text-md font-medium text-gray-700">เขต</label>
                <div class="mt-1 ">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-select [formControlName]="'dataKhet'" (selectionChange)="onKhetChange($event)" >
                            <mat-option [value]="''">
                                เลือกเขต
                            </mat-option>
                            <mat-option *ngFor="let item of this.khet;" [value]="item.id" >
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-4 mt-4" *ngIf="this.data.type == 'NEW'">
                <label class="block text-md font-medium text-gray-700">จังหวัด</label>
                <div class="mt-1 ">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-select [formControlName]="'dataProvince'" (selectionChange)="onProvinceChange($event)">
                            <mat-option [value]="''">
                                เลือกจังหวัด
                            </mat-option>
                            <mat-option *ngFor="let item of this.province;" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="mb-4 mt-4" *ngIf="this.data.type == 'NEW'">
                <label class="block text-md font-medium text-gray-700">โรงพยาบาลพยาบาล</label>
                <div class="mt-1 ">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-select [formControlName]="'hospital_id'">
                            <mat-option [value]="null">
                                เลือกโรงพยาบาล
                            </mat-option>
                            <mat-option *ngFor="let item of this.hospital;" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </form>
    </div>
    <div mat-dialog-actions class="flex justify-center mt-4"> <button mat-button
            class="px-4 py-2 bg-gray-50 text-gray-600 rounded hover:bg-gray-400 border-2 border-gray-500" mx-3
            (click)="onCancelClick()">ยกเลิก</button> &nbsp;
        <button mat-button class="px-4 py-2 mx-3 bg-[#0a1c3a] text-white rounded hover:bg-gray-600 ml-2"
            (click)="onSaveClick()">บันทึก</button>
    </div>
</div>