<div class="flex flex-row flex-auto w-full min-w-0">
  <div class="flex-auto p-6 sm:p-10">
    <div class="flex items-center" [formGroup]="form">
      <div
        class="px-6 grid items-center pt-5 gap-6 mb-3 shadow bg-card rounded-2xl w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>วันที่</mat-label>
          <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
            <input matStartDate placeholder="วันที่เริ่ม" formControlName="startDate">
            <input matEndDate placeholder="วันที่สิ้นสุด" formControlName="endDate" (dateChange)="tranferData()">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select [formControlName]="'branchIds'" multiple (selectionChange)="selectionBranchChanged($event.value)">
            <mat-option [disabled]="true" value="">กรุณาเลือกโรงพยาบาล</mat-option>
            <mat-option value="all">เลือกทั้งหมด</mat-option>
            <mat-option *ngFor="let branch of branchesData" [value]="branch.id">
              {{branch.name}}
            </mat-option>
          </mat-select>
          <mat-error class="text-xs">กรุณาเลือกสาขาอย่างน้อย 1 สาขา</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="grid justify-center w-full min-w-0 gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
      <div class="flex flex-col flex-auto p-6 overflow-hidden shadow bg-card rounded-2xl">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium leading-6 tracking-tight truncate">ยอดรวมผู้ใช้งาน</div>
        </div>
        <div class="flex flex-col items-center mt-2 grow justify-center">
          <div class="flex font-bold leading-none tracking-tight text-blue-500 h-[64px] text-7xl sm:text-8xl">{{
            checkNumber(piece) }}</div><!--{{ piece | number }}-->
          <div class="text-lg font-medium text-blue-600 dark:text-blue-500">คน</div>
        </div>
      </div>

      <div class="flex flex-col flex-auto p-6 overflow-hidden shadow bg-card rounded-2xl">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium leading-6 tracking-tight truncate">จำนวนเงิน</div>
        </div>
        <div class="flex flex-col items-center mt-2">
          <div class="font-bold leading-none tracking-tight text-green-500 h-[64px] items-center my-auto"
            [ngStyle]="{'font-size': calculateFontSize(total)}">{{ checkNumber(total) }}</div>
          <div class="text-lg font-medium text-green-600 dark:text-green-500">บาท</div>
        </div>
      </div>

      <div class="flex flex-col flex-auto p-6 overflow-hidden shadow bg-card rounded-2xl">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium leading-6 tracking-tight truncate">จำนวนบิล</div>
        </div>
        <div class="flex flex-col items-center mt-2">
          <div class="font-bold leading-none tracking-tight text-yellow-500 h-[64px] text-7xl sm:text-8xl">{{
            checkNumber(bill) }}</div>
          <div class="text-lg font-medium text-yellow-600 dark:text-yellow-500">ยอด</div>
        </div>
      </div>

      <div class="flex flex-col flex-auto p-6 overflow-hidden shadow bg-card rounded-2xl">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium leading-6 tracking-tight truncate">VOID</div>
        </div>
        <div class="flex flex-col items-center mt-2">
          <div class="font-bold leading-none tracking-tight text-red-500 h-[64px] text-7xl sm:text-8xl">{{
            checkNumber(voidBill) }}</div>
          <div class="text-lg font-medium text-red-600 dark:text-red-500">ยอด</div>
        </div>
      </div>
    </div>

    <div class="flex flex-col flex-auto w-full pt-2 px-6 pb-6 mt-3 overflow-hidden shadow bg-card rounded-2xl">
      <div class="flex items-start justify-between w-full mt-3">
        <div id="chart4" class="w-full mt-3">
          <apx-chart [title]="chartOptions4.title" [subtitle]="chartOptions4.subtitle" [series]="chartOptions4.series"
            [chart]="chartOptions4.chart" [xaxis]="chartOptions4.xaxis" [stroke]="chartOptions4.stroke"
            [tooltip]="chartOptions4.tooltip" [dataLabels]="chartOptions4.dataLabels"></apx-chart>
        </div>
      </div>
    </div>
    <!--<div class="flex flex-col flex-auto w-full p-6 mt-3 overflow-hidden shadow bg-card rounded-2xl">
      <div class="flex items-start justify-between w-full mt-3">
        <div id="chart" class="w-full mt-3">
          <apx-chart class="w-full gap-3 mt-3"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
            [dataLabels]="chartOptions.dataLabels"
            [yaxis]="chartOptions.yaxis"
            [labels]="chartOptions.labels"
            [legend]="chartOptions.legend"
            [title]="chartOptions.title"
            [subtitle]="chartOptions.subtitle"
          ></apx-chart>
        </div>
      </div>
    </div>-->

    <!-- <div class="grid gap-3 mt-3 grid-cols-1 md:grid-cols-2">
      <div class="flex flex-col flex-auto w-full p-6 mr-3 overflow-hidden bg-card rounded-2xl shadow">
        <div class="flex items-start justify-between w-full">
          <div class="w-full">
            <p class="pb-2 text-lg font-medium">10 อันดับสินค้าขายดี</p>
            <table class="border border-slate-500 w-full rounded-lg overflow-hidden shadow">
              <thead>
                <tr class="rounded-lg">
                  <th class="border border-slate-600 text-center py-2 px-4 bg-blue-300">No</th>
                  <th class="border border-slate-600 py-2 px-4 bg-blue-300">ชื่อสินค้า</th>
                  <th class="border border-slate-600 py-2 px-4 bg-blue-300">ยอดขาย</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of productSale; let i = index">
                  <tr>
                    <td class="border border-slate-600 text-center py-2 px-4">{{ i + 1 }}</td>
                    <td class="border border-slate-600 py-2 px-4">{{ item.name }}</td>
                    <td class="border border-slate-600 text-center py-2 px-4">{{ item.quantity }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto w-full p-6 mr-3 overflow-hidden bg-card rounded-2xl shadow">
        <div class="flex items-start justify-between w-full">
          <div class="w-full">
            <p class="pb-2 text-lg font-medium">10 อันดับประเภทสินค้าขายดี</p>
            <table class="border border-slate-500 w-full rounded-lg overflow-hidden shadow"
              style="border-radius: 20px;">
              <thead>
                <tr class="rounded-lg">
                  <th class="border border-slate-600 text-center py-2 px-4 bg-blue-300">No</th>
                  <th class="border border-slate-600 py-2 px-4 bg-blue-300">ชื่อสินค้า</th>
                  <th class="border border-slate-600 py-2 px-4 bg-blue-300">ยอดขาย</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of productCategory; let i = index">
                  <tr>
                    <td class="border border-slate-600 text-center py-2 px-4">{{ i + 1 }}</td>
                    <td class="border border-slate-600 py-2 px-4">{{ item.name }}</td>
                    <td class="border border-slate-600 text-center py-2 px-4">{{ item.quantity }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-span-1 md:col-span-2 flex flex-col flex-auto w-full p-6 overflow-hidden bg-card rounded-2xl"
        style="box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0.1), 0px 0px 10px 0px rgb(0 0 0 / 0.1);">
        <div class="flex items-start justify-between w-full h-full">
          <apx-chart class="w-full" [title]="chartOptions3.title" [series]="chartOptions3.series"
            [chart]="chartOptions3.chart" [dataLabels]="chartOptions3.dataLabels"
            [plotOptions]="chartOptions3.plotOptions" [yaxis]="chartOptions3.yaxis" [xaxis]="chartOptions3.xaxis"
            [legend]="chartOptions3.legend" [colors]="chartOptions3.colors" [grid]="chartOptions3.grid">
          </apx-chart>
        </div>
      </div>
    </div> -->
  </div>
</div>