<div class="md:max-w-lg mx-auto rounded-sm">
    <!-- {{this.addForm.value | json}} -->
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="!this.data">เพิ่มหัวข้อประเมิน</h1>
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data">แก้ไขหัวข้อประเมิน</h1>
    <div mat-dialog-content>
        <form [formGroup]="editForm">
            <div class="-mx-3 md:flex mb-3">
                <div class="md:w-full px-3">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>หัวข้อประเมิน</mat-label>
                        <input matInput [placeholder]="'หัวข้อประเมิน'" [formControlName]="'detail'">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="flex justify-center mt-4"> <button mat-button class="px-4 py-2 bg-gray-50 text-gray-600 rounded hover:bg-gray-400 border-2 border-gray-500" mx-3 (click)="onCancelClick()">ยกเลิก</button> &nbsp;
        <button mat-button class="px-4 py-2 mx-3 bg-[#0a1c3a] text-white rounded hover:bg-gray-600 ml-2" (click)="onSaveClick()">บันทึก</button>
    </div>
</div>